form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid rgb(84, 187, 255);
    border-radius: 10px;
    box-shadow: rgb(222, 242, 253) 10px 10px 10px;
}

.titulo {
    margin-bottom: 50px;
    color: #585050;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    border: none;
    border-bottom: 3px solid rgb(84, 187, 255);
}

button {
    margin-top: 20px;
    width: 300px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(84, 187, 255);
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(49, 170, 250);
}

.resultado, .erro {
    max-width: 400px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.erro {
    background-color: red;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
}